@font-face {
    font-family: "PTSans";
    src: url("../resource/font/PTSans-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "Nunito";
    src: url("../resource/font/Nunito-Regular.ttf") format('truetype');
}
  
@font-face {
    font-family: "PTSans Bold";
    src: url("../resource/font/PTSans-Bold.ttf") format('truetype');
}

body {
  font-family: PTSans, sans-serif;
}

h2 {
    font-weight: 600;
    font-size: large;
}

.font__header {
    font-weight: 600;
    font-size: medium;
    line-height: 28px;
}
  
.font__option {
    font-weight: 600;
    font-size: small;
    line-height: 28px;
    color: #475569;
}

.font__option:hover {
    color: #121923;
}
  
.font__logo {
    font-family: "PTSans Bold", sans-serif;
    font-size: xx-large;
    font-weight: 800;
}

.font__text {
    font-size: small;
    line-height: 20px;
    font-family: Nunito, sans-serif;
}

.font__subtext {
    font-size: smaller;
    line-height: 20px;
    color: #475569;
    font-family: Nunito, sans-serif;
}

.font__subtext2 {
    font-size: smaller;
    line-height: 20px;
    color: #94A3B8;
    font-family: Nunito, sans-serif;
}

.font-page {
    font-size: small;
    line-height: 20px;
    color: #475569;
    font-family: Nunito, sans-serif;
    padding: 8px 12px;
    border-radius: 4px;
}

.font-page:hover {
    background-color: #efefef;
}

.font-page__selected {
    font-size: small;
    line-height: 20px;
    color: white;
    font-family: Nunito, sans-serif;
    background-color: #3B82F6;
    border-radius: 4px;
    padding: 8px 12px;
}

.font-caution {
    color: #dc2626;
    font-size: small;
    line-height: 20px;
}