body {
    background-color: #F5F5F5;
    font-family: 'system-ui';
}

.header {
    margin-left: 130px;
    display: flex;
    gap: 50px;
}


a:link, a:visited, a:hover, a:active {
    color: black;
    text-decoration: none;
}

input {
    all: unset;
    caret-color: transparent;
}

.card {
    padding: 12px;
    background: white;
    border-radius: 3px;
    box-shadow: 1px 1px 2px #E0E0E0;
    border: 0;
}

.text-button {
    cursor: pointer;
    padding: 6px 20px;
}

.full-page {
    margin-left: 162px;
    margin-top: 64px;
    position: relative;
    width: 33vw;
}

.bold {
    font-weight: 600;
}


textarea {
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-family: 'system-ui';
    font-size: 1.01em;
    resize: none;
}

.height-22 {
    height: 22px;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.wrap {
    word-wrap: break-word;
}

.gray {
    background-color: #F6F6F6;
}

.width-200 {
    width: 200px;
}

.empty {
    width: 250px;
    padding: 12px;
    border: 1px dashed lightgray;
    border-radius: 3px;
}

.subtext {
    color: #565656;
    font-size: 0.9em;
}

.subbutton {
    color: #929292;
    cursor: pointer;
}

.tag-list {
    display: flex;
    flex-flow: row wrap;
    gap: 2px;
    margin: 6px 0px;
}

.tag-select {
    width: inherit;
}

.tag-select__header {
    background-color: #E3E3E3;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 10px;
    width: 160px;
    border-radius: 3px 3px 0px 0px;
}

.tag-select__options {
    border-radius: 0px 0px 3px 3px;
    background-color: #D8D7D7;
    height: 90px;
    width: 180px;
    overflow: auto;
    position: absolute;
}

.tag-select__option {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

ul::-webkit-scrollbar {
    width: 6px;
}

ul::-webkit-scrollbar-track {
    background-color: #EAEAEA;
    border-radius: 3px;
}

ul::-webkit-scrollbar-thumb {
    background-color: #B6B6B6;
    border-radius: 3px;
}

input:checked {
    background: url('res/checked.svg') white no-repeat center;
    align-content: center;
}

.checkbox {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: white;
    border-radius: 3px;
    transition: all 150ms;
    box-shadow: 0px 1px 2px gray;
    margin: 0px 5px;
}

ul {  
    list-style-type: none; 
    padding: 0; 
    margin: 0;
}  

.right {
    float: right;
}

.clear-right {
    clear: right;
}

.left {
    float: left;
}

.clear-left {
    clear: left;
}

.button {
    background: #FFE445;
    border-radius: 5px;
    padding: 14px;
    cursor: pointer;
    text-align: center;
}

.input-container {
    display: flex;
    flex-flow: column wrap;
    gap: 8px;
    width: 50vh;
}

.task-list {
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
    border: 1px solid #CACACA;
    border-radius: 7px;
    padding: 14px;
    margin-top: 10px;
}

.board-list {
    display: flex;
    flex-flow: row wrap;
    margin-top: 100px;
    gap: 20px;
    justify-content: center;
}

.disabled {
    color: #CACACA;
}

.header-text {
    color: #333333;
    font-weight: bold;
    margin: 14px;
}


.absolute-right {
    position: absolute;
    right: 0;
}

.modal {
    width: fit-content;
    height: min-content;
    position: absolute;
    z-index: 500;
    left: 0; 
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    overflow: auto;
    padding: 3% 6%;
    border-radius: 11px;
}

.height-100 {
    height: 100px;
}


.modal svg {
    cursor: pointer;
}

.tag {
    width: 40; 
    height: 18; 
    border-radius: 2;
}